.avatar {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--heading-2);
  padding: .5px;
  outline: 2px solid var(--neutral-1);
  cursor: default;
}

.avatar .nickname {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font: var(--heading-2);
  line-height: 1;
  text-align: center;
}

.avatar.primary .nickname {
  background: var(--primary-6);
  color: var(--primary-1);
}

.avatar.secondary .nickname {
  background: var(--secondary);
  color: var(--neutral-1);
}

.avatar.success .nickname {
  background: var(--success-bg);
  color: var(--success);
}

.avatar.warning .nickname {
  background: var(--warning-bg);
  color: var(--warning);
}

.avatar img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}

.avatar.active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 0;
  background-color: var(--primary-6);
  box-sizing: content-box;
}

.avatar.count {
  background: var(--primary-3);
  padding: 0;
}

.avatar .text {
  font: var(--label-2);
  color: var(--primary-6);
  font-weight: 600;
}

.avatars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.avatars .avatar {
  margin-left: -10px;
  z-index: 1;
}
