.profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile.row {
  flex-direction: row;
}

.profile.column {
  width: 100%;
  flex-direction: column;
  min-width: 0;
}

.profile.clickable {
  cursor: pointer;
}

.nickname {
  font: var(--title-2);
  color: var(--neutral-9);
  padding: 0 12px;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
