.profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile.row {
  flex-direction: row;
}

.profile.column {
  flex-direction: column;
}

.profile.clickable {
  cursor: pointer;
}

.nickname {
  font: var(--title-2);
  color: var(--neutral-9);
  padding: 0 12px;
}
