.coin {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: var(--heading-3);
  user-select: none;
}

.number {
  display: inline-block;
}

.default {
  color: var(--neutral-7);
  background-color: var(--neutral-2);
}

.gold {
  color: var(--gold-bg);
  background-color: var(--gold-border);
}

.silver {
  color: var(--silver-bg);
  background-color: var(--silver-border);
}

.bronze {
  color: var(--bronze-bg);
  background-color: var(--bronze-border);
}
