.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--neutral-2);
  color: var(--neutral-9);
  box-sizing: content-box;
}

svg.small {
  width: 16px;
  height: 16px;
}

.small svg.small {
  padding: 8px;
}

svg.medium {
  width: 24px;
  height: 24px;
}

.medium svg.medium {
  padding: 16px;
}

svg.large {
  width: 32px;
  height: 32px;
}

.large svg.large {
  padding: 24px;
}

.primary {
  background: var(--primary-6);
  color: var(--primary-1);
}

.secondary {
  background: var(--primary-3);
  color: var(--primary-6);
}

.success-primary {
  background: var(--success);
  color: var(--neutral-1);
}

.success-secondary {
  background: var(--success-bg);
  color: var(--success);
}

.warning-primary {
  background: var(--warning);
  color: var(--neutral-1);
}

.warning-secondary {
  background: var(--warning-bg);
  color: var(--warning);
}

.error-primary {
  background: var(--error);
  color: var(--neutral-1);
}

.error-secondary {
  background: var(--error-bg);
  color: var(--error);
}

.outline {
  box-shadow: inset 0 0 0 2px var(--neutral-3);
  background: var(--neutral-1);
  color: var(--secondary);
}

.ghost {
  background: transparent;
  color: var(--secondary);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  padding: 0;
  border-radius: 50%;
}

.button:disabled .circle {
  cursor: not-allowed;
}

.button:disabled .circle.primary,
.button:disabled .circle.secondary,
.button:disabled .circle.success-primary,
.button:disabled .circle.success-secondary,
.button:disabled .circle.warning-primary,
.button:disabled .circle.warning-secondary,
.button:disabled .circle.error-primary,
.button:disabled .circle.error-secondary {
  background: var(--neutral-3);
  color: var(--neutral-4);
}

.button:disabled .circle.outline {
  background: var(--neutral-2);
  color: var(--neutral-4);
  border-color: var(--neutral-3);
}

.button:disabled .circle.ghost {
  background: transparent;
  color: var(--neutral-4);
}

.icon {
  box-sizing: content-box;
}
