.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  box-sizing: border-box;
  white-space: nowrap;
}

.button:disabled {
  cursor: not-allowed;
}

.button.large {
  font: var(--button-large);
  padding: 24px 36px;
}

.button.medium {
  font: var(--button-medium);
  padding: 16px 28px;
}

.button.small {
  font: var(--button-small);
  padding: 8px 12px;
}

.button .content {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.button.large .content {
  gap: 12px;
  height: 32px;
}

.button.medium .content {
  gap: 8px;
  height: 24px;
}

.button.small .content {
  gap: 4px;
  height: 16px;
}

/* Variant - Primary */
.primary {
  background: var(--primary-6);
  color: var(--primary-1);
}

.success-primary {
  background: var(--success);
  color: var(--neutral-1);
}

.warning-primary {
  background: var(--warning);
  color: var(--neutral-1);
}

.error-primary {
  background: var(--error);
  color: var(--neutral-1);
}

.button:disabled.primary,
.button:disabled.success-primary,
.button:disabled.warning-primary,
.button:disabled.error-primary {
  background: var(--neutral-4);
  color: var(--neutral-3);
}

/* Variant - Secondary */
.secondary {
  background: var(--primary-3);
  color: var(--primary-6);
}

.success-secondary {
  background: var(--success-bg);
  color: var(--success);
}

.warning-secondary {
  background: var(--warning-bg);
  color: var(--warning);
}

.error-secondary {
  background: var(--error-bg);
  color: var(--error);
}

.button:disabled.secondary,
.button:disabled.success-secondary,
.button:disabled.warning-secondary,
.button:disabled.error-secondary {
  background: var(--neutral-3);
  color: var(--neutral-4);
}

/* Variant - Outline */
.outline {
  background: var(--neutral-1);
  color: var(--secondary);
  box-shadow: inset 0 0 0 2px var(--neutral-3);
}

.button:disabled.outline {
  background: var(--neutral-2);
  color: var(--neutral-4);
  border-color: var(--neutral-3);
}

/* Variant - Ghost */
.ghost {
  background: transparent;
  color: var(--secondary);
}

.button:disabled.ghost {
  background: transparent;
  color: var(--neutral-4);
}
