# MySQL
DB_HOST=db
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=1234
DB_NAME=db_name
MYSQL_ROOT_PASSWORD=1234

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Server
NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:3000

# Mediasoup
MEDIASOUP_LISTEN_IP=0.0.0.0
MEDIASOUP_ANNOUNCED_IP=127.0.0.1
MEDIASOUP_RTC_MIN_PORT=20000
MEDIASOUP_RTC_MAX_PORT=22000

# JWT
JWT_SECRET= (openssl rand -hex 32 명령어 터미널에 실행)
JWT_EXPIRATION_TIME=1h

# Common OAuth
BACKEND_BASE_URL=http://localhost:4000

# Github OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
